@page
@model Homework1Sladic.Pages.Index1Model
@{
}
<h12<p class="h12">Search Results</124>

    <h2>
        <p>Below are the available options for you.  </p>
    </h2>
      <p>You can filter the results below using the drop down menu if you would like.  </p>
    
    <select name="trvDrop">
       <option value="3">Sort By:</option>
    <option value="1">Distance: closest</option>
    <option value="2">Distance: furthest</option>
    <option value="3">Most expensive</option>
    <option value="3">Least expensive</option>
    <option value="3">Newest</option>
    <option value="3">Oldest</option>
    
